.ready {
    padding: 76px;
    background-color: #F67E7E;
}

.ready-container {
    width: 920px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ready-heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #012F34;
}

.ready-btn {
    padding: 9px 33px;
    text-decoration: none;
    border: 2px solid #012F34;
    border-radius: 24px;
    color: #012F34;
    transition: 0.5s ease;
}

.ready-btn:hover {
    background-color: #012F34;
    color: #Ffff;
}

@include breakpoint-down (776px) {
    .ready {
        padding: 76px;
    }
    
    .ready-container {
        width: 100%;
    }
    
    .ready-heading {
        font-size: 25px;
        line-height: 25px;
    }
}

@include breakpoint-down (577px) {
    .ready-container {
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .ready-heading {
        font-size: 32px;
        line-height: 32px;
    }
}